<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Salvador Coins</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">

        <tr class="episode">
          <td>
            Welcome to SalvadorCoins.<br />
            SalvadorCoins Wallet transaction was succesfully.
            The below are the details for your SalvadorCoins Wallet transaction.  
          </td>          
        </tr>

        <tr class="episode">
          <td>
            Transaction Amount:
          </td>
          <td valign="top">
            <%= @process_payment.amount %>
          </td>
        </tr>

        <tr class="episode">
          <td>
            Wallet Transaction Id:
          </td>
          <td valign="top">
            <%= @process_payment.process_id %>
          </td>
        </tr>

        <tr class="episode">
          <td>
            Wallet Total Amount:
          </td>
          <td valign="top">
            <%= @user.userdetail.wallet_coin_amount %>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <a target="_blank" href="<%= root_url %>users/sign_in">Login into SalvadorCoins</a>            
          </td>
        </tr>
       
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>        
                
        <tr>
          <td id="footer" colspan="2" align="center">
            <!-- <p><a href="#">Unsubscribe</a> if you do not wish to receive these emails in the future.</p> -->
            <p>&copy;2015 SalvadorCoins</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>