<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Buneyard Compagnie</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">

        <tr class="episode">
          <td>
            Welcome to Buneyard Compagnie.<br />
            You have signed up succesfully to the Buneyard Compagnie.<br /> Please follow the below link to verfiy your account.
          </td>          
        </tr>
       
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td colspan="2">            
              <a target="_blank" href="<%= root_url %>confirm-user-account/<%= @user.secret_token %>">Confirm my account for Buneyard Compagnie</a>            
          </td>
        </tr>        
        
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <!-- <p><a href="#">Unsubscribe</a> if you do not wish to receive these emails in the future.</p> -->
            <p>&copy;2015 Buneyard Compagnie</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>