<div class="fullwidthbanner" id="home">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= image_path("bg-2.jpg") %>" data-delay="10000"  data-saveperformance="off" data-title="slider 1">
        <!-- MAIN IMAGE -->        
        <img src="<%= image_path("bg-2.jpg") %>"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->    
        <div class="tp-caption srcaption-bigwhite lfl ltr slider-title"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="0"
          data-speed="1000"
          data-start="100"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 2">WE ARE <strong>bavely</strong>
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption srcaption-miniwhite sfb slider-caption"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-140"
          data-speed="500"
          data-start="1200"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 3">Learn more about us
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption srcaption-miniwhite sfb text-light scroll-to slider-arrow-down"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-40"
          data-speed="500"
          data-start="1300"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 3"><a href="#about" class="sr-button sr-buttonicon small-iconbutton scroll-to"><i class="ion-ios-arrow-down"></i></a>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= image_tag("bg-3.jpg") %>" data-delay="10000"  data-saveperformance="off" data-title="slider 1">
        <!-- MAIN IMAGE -->
        <img src="<%= image_path("bg-3.jpg") %>"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->    
        <div class="tp-caption srcaption-bigwhite lfl ltr slider-title"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="0"
          data-speed="1000"
          data-start="100"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 2">with <strong>unique</strong> ideas
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption srcaption-miniwhite sfb slider-caption"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-140"
          data-speed="500"
          data-start="1200"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 3">See our portfolio
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption srcaption-miniwhite sfb text-light scroll-to slider-arrow-down"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-40"
          data-speed="500"
          data-start="1300"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 3"><a href="#work" class="sr-button sr-buttonicon small-iconbutton scroll-to"><i class="ion-ios-arrow-down"></i></a>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= image_tag("bg-1.jpg") %>" data-delay="10000"  data-saveperformance="off" data-title="slider 1">
        <!-- MAIN IMAGE -->
        <img src="<%= image_path("bg-1.jpg") %>"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->    
        <div class="tp-caption srcaption-bigwhite lfl ltr slider-title"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="0"
          data-speed="1000"
          data-start="100"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 2">dedicated <strong>support</strong>
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption srcaption-miniwhite sfb slider-caption"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-140"
          data-speed="500"
          data-start="1200"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 3">Get in touch with us
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption srcaption-miniwhite sfb text-light scroll-to slider-arrow-down"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-40"
          data-speed="500"
          data-start="1300"
          data-easing="easeInOutQuad"
          data-endspeed="1000"
          data-endeasing="easeInOutQuad"
          style="z-index: 3"><a href="#contact" class="sr-button sr-buttonicon small-iconbutton scroll-to"><i class="ion-ios-arrow-down"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--full width banner-->
<!-- Static navbar -->
<nav class="navbar navbar-default sticky-nav navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <%= image_tag("logo-dark.png") %>
        <!-- <img src="assets/images/logo-dark.png" alt="LOGO"> -->
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right scroll-to">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container -->
</nav>
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2 class="center-title"> About us</h2>
          <span class="center-border-line"></span>
          <p class="sub-text">Who we are</p>
        </div>
      </div>
    </div>
    <!--left title row end-->
    <div class="row">
      <div class="col-sm-8 text-center col-sm-offset-2">
        <p class="lead subtitle-center wow animated fadeIn" data-wow-delay=".1s">
          A <span class="colored-text">creative agency</span> based in <span class="colored-text">California, USA.</span> It is a long established fact that a reader will be distracted by the readable content.
        </p>
      </div>
    </div>
    <!--sub title center-->
    <div class="row">
      <div class="col-sm-4 margin-bottom30">
        <div class="service-features wow animated fadeIn" data-wow-delay=".2s">
          <i class="ion-ios-lightbulb-outline"></i>
          <h3>Unique ideas</h3>
          <p>
            Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.
          </p>
        </div>
        <!--service features-->
      </div>
      <div class="col-sm-4 margin-bottom30">
        <div class="service-features wow animated fadeIn" data-wow-delay=".3s">
          <i class="ion-ios-people-outline"></i>
          <h3>Creative team</h3>
          <p>
            Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.
          </p>
        </div>
        <!--service features-->
      </div>
      <div class="col-sm-4 margin-bottom30">
        <div class="service-features wow animated fadeIn" data-wow-delay=".4s">
          <i class="ion-ios-color-wand-outline"></i>
          <h3>customer support</h3>
          <p>
            Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.
          </p>
        </div>
        <!--service features-->
      </div>
    </div>
    <!--row-->
  </div>
  <!--container-->      
</section>
<!--about section end-->
<div class=" fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="text-center wow animated flipInX" data-wow-delay=".1s">
          <h2 class="center-title"> Fun facts</h2>
          <span class="center-border-line"></span>
          <p class="sub-text">Some fun facts about our agency.</p>
        </div>
      </div>
    </div>
    <!--center title row end-->
    <div class="row">
      <div class="col-md-3 col-sm-6 margin-bottom30">
        <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".1s">
          <h2>788</h2>
          <h4>Happy clients</h4>
        </div>
      </div>
      <!--fun facts col-->
      <div class="col-md-3 col-sm-6 margin-bottom30">
        <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".2s">
          <h2>460</h2>
          <h4>Projects Complete</h4>
        </div>
      </div>
      <!--fun facts col-->
      <div class="col-md-3 col-sm-6 margin-bottom30">
        <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".3s">
          <h2>978</h2>
          <h4>miles traveled</h4>
        </div>
      </div>
      <!--fun facts col-->
      <div class="col-md-3 col-sm-6 margin-bottom30">
        <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".4s">
          <h2>592</h2>
          <h4>smartphones used</h4>
        </div>
      </div>
      <!--fun facts col-->
    </div>
  </div>
</div>
<!--fun facts end -->
<div class="quote parallax-1">
  <div class="container text-center">
    <div class="col-sm-8 col-sm-offset-2 wow animated fadeIn" data-wow-delay=".2s">
      <p>
        " Websites promote you 24/7: No employee will do that. "
      </p>
      <h5>Paul Cookson</h5>
    </div>
  </div>
</div>
<!--quote section end-->
<div class="gray-cta">
  <div class="container text-center scroll-to">
    <h2>are you ready to start a conversation?</h2>
    <a href="#contact" class="btn btn-lg btn-theme-bg">Get in touch</a>
  </div>
</div>
<!--gray cta-->
<div class="team">
  <div class="container">
    <div class="text-center wow animated bounceIn" data-wow-delay=".1s">
      <h2 class="center-title"> <span class="colored-text">Bavely</span> Team</h2>
      <span class="center-border-line"></span>
      <p class="sub-text">Meet the bavley super creative team</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 margin-bottom30">
        <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
          <%= image_tag("team-2.jpg", :class => "img-responsive") %>
          <!-- <img src="assets/images/team-2.jpg" class="img-responsive" alt=""> -->
          <h4>Mike Pears</h4>
          <em>Manager</em>
          <ul class="social list-inline">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <!--team col end-->
      <div class="col-sm-6 col-md-3 margin-bottom30">
        <div class="team-box wow animated fadeInLeft" data-wow-delay=".2s">
          <%= image_tag("team-3.jpg", :class => "img-responsive") %>
          <!-- <img src="assets/images/team-3.jpg" class="img-responsive" alt=""> -->
          <h4>Mike Pears</h4>
          <em>Manager</em>
          <ul class="social list-inline">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <!--team col end-->
      <div class="col-sm-6 col-md-3 margin-bottom30">
        <div class="team-box wow animated fadeInLeft" data-wow-delay=".3s">
          <%= image_tag("team-4.jpg", :class => "img-responsive") %>
          <!-- <img src="assets/images/team-4.jpg" class="img-responsive" alt=""> -->
          <h4>Mike Pears</h4>
          <em>Manager</em>
          <ul class="social list-inline">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <!--team col end-->
      <div class="col-sm-6 col-md-3 margin-bottom30">
        <div class="team-box wow animated fadeInLeft" data-wow-delay=".4s">
          <%= image_tag("team-1.jpg", :class => "img-responsive") %>
          <!-- <img src="assets/images/team-1.jpg" class="img-responsive" alt=""> -->
          <h4>Mike Pears</h4>
          <em>Manager</em>
          <ul class="social list-inline">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <!--team col end-->
    </div>
  </div>
</div>
<!--team section end-->
<div class="testimonials parallax-2 dark">
  <div class="container">
    <div class="text-center wow animated fadeInDown" data-wow-delay=".1s">
      <h2 class="center-title"> <span class="colored-text">Happy </span> Clients</h2>
      <span class="center-border-line"></span>
      <p class="sub-text">Over 8000 extremely satisfied clients!</p>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="flexslider testi-slider wow animated fadeInUp" data-wow-delay=".2s">
          <ul class="slides">
            <li>
              <div class="testi-slider-item">
                <p>
                  Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus. 
                </p>
                <!-- <img src="assets/images/team-1.jpg" alt=""> -->
                <%= image_tag("team-1.jpg") %>
                <h6>John Doe - <span class="colored-text">Assan Inc.</span></h6>
              </div>
            </li>
            <!--Single slide li-->
            <li>
              <div class="testi-slider-item">
                <p>
                  Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus. 
                </p>
                <%= image_tag("team-2.jpg") %>
                <!-- <img src="assets/images/team-2.jpg" alt=""> -->
                <h6>John Doe - <span class="colored-text">Assan Inc.</span></h6>
              </div>
            </li>
            <!--Single slide li-->
            <li>
              <div class="testi-slider-item">
                <p>
                  Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus. 
                </p>
                <%= image_tag("team-3.jpg") %>
                <!-- <img src="assets/images/team-3.jpg" alt=""> -->
                <h6>John Doe - <span class="colored-text">Assan Inc.</span></h6>
              </div>
            </li>
            <!--Single slide li-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--testimonials-->
<section id="services" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="text-center wow animated flipInX" data-wow-delay=".1s">
          <h2 class="center-title"> Our services</h2>
          <span class="center-border-line"></span>
          <p class="sub-text">What we do?.</p>
        </div>
      </div>
    </div>
    <!--center title row end-->
    <div class="row">
      <div class="col-sm-4 margin-bottom30">
        <div class="services-box wow animated fadeIn" data-wow-delay="0.2s">
          <h3 class="services-title">Branding</h3>
          <i class="ion-ios-paperplane-outline icon-big-round"></i>
          <p>
            Vestibulum commodo aliquam sollicitudin metus vitae. Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
          <h4>What we offer</h4>
          <ul class=" list-unstyled">
            <li>Research</li>
            <li>Strategy</li>
            <li>Design</li>
            <li>Experience</li>
            <li><i class="ion-close"></i></li>
            <li><i class="ion-close"></i></li>
          </ul>
        </div>
        <!--service box-->
      </div>
      <!--col-->
      <div class="col-sm-4 margin-bottom30">
        <div class="services-box wow animated fadeIn" data-wow-delay="0.4s">
          <h3 class="services-title">Web development</h3>
          <i class="ion-social-wordpress-outline icon-big-round"></i>
          <p>
            Vestibulum commodo aliquam sollicitudin metus vitae. Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
          <h4>What we offer</h4>
          <ul class=" list-unstyled">
            <li>Wordpress</li>
            <li>Php</li>
            <li>Woo commerce</li>
            <li>magento</li>
            <li>Drupal</li>
            <li>Seo</li>
          </ul>
        </div>
        <!--service box-->
      </div>
      <!--col-->
      <div class="col-sm-4 margin-bottom30">
        <div class="services-box wow animated fadeIn" data-wow-delay="0.6s">
          <h3 class="services-title">Design</h3>
          <i class="ion-ios-color-wand-outline icon-big-round"></i>
          <p>
            Vestibulum commodo aliquam sollicitudin metus vitae. Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
          <h4>What we offer</h4>
          <ul class=" list-unstyled">
            <li>HTML5 / CSS3</li>
            <li>Less / SASS</li>
            <li>Psd design</li>
            <li>Logo Design</li>
            <li>Responsive Designs</li>
            <li>Mobile App</li>
          </ul>
        </div>
        <!--service box-->
      </div>
      <!--col-->
    </div>
  </div>
</section>
<!--services section end here-->
<div class="twitter-feed parallax-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2><i class="ion-social-twitter-outline"></i></h2>
        <div class="tweet wow animated fadeIn" data-wow-delay=".3s"></div>
      </div>
    </div>
  </div>
</div>
<!--twitter feeds-->
<div class="pricing-section section-padding">
  <div class="container">
    <div class="text-center">
      <h2 class="center-title"> <span class="colored-text">Price </span> Plans</h2>
      <span class="center-border-line"></span>
      <p class="sub-text">Choose a best plan for you.</p>
    </div>
    <div class="cd-pricing-container cd-has-margins">
      <div class="cd-pricing-switcher">
        <p class="fieldset">
          <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
          <label for="monthly-2">Monthly</label>
          <input type="radio" name="duration-2" value="yearly" id="yearly-2">
          <label for="yearly-2">Yearly</label>
          <span class="cd-switch"></span>
        </p>
      </div>
      <ul class="cd-pricing-list cd-bounce-invert">
        <li>
          <ul class="cd-pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="cd-pricing-header">
                <h2>Basic</h2>
                <div class="cd-price">
                  <span class="cd-currency">$</span>
                  <span class="cd-value">20</span>
                  <span class="cd-duration">mo</span>
                </div>
              </header>
              <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                  <li>24/7 Tech Support</li>
                  <li>Advanced Option</li>
                  <li>10GB Storage</li>
                  <li>1GB Bandwidth</li>
                  <li>512 Memory</li>
                  <li>10 Free Domain</li>
                </ul>
              </div>
              <footer class="cd-pricing-footer">
                <a class="cd-select" href="#">Purchase Now</a>
              </footer>
            </li>
            <li data-type="yearly" class="is-hidden">
              <header class="cd-pricing-header">
                <h2>Basic</h2>
                <div class="cd-price">
                  <span class="cd-currency">$</span>
                  <span class="cd-value">200</span>
                  <span class="cd-duration">yr</span>
                </div>
              </header>
              <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                  <li>24/7 Tech Support</li>
                  <li>Advanced Option</li>
                  <li>100GB Storage</li>
                  <li>50GB Bandwidth</li>
                  <li>5GB Memory</li>
                  <li>50 Free Domain</li>
                </ul>
              </div>
              <footer class="cd-pricing-footer">
                <a class="cd-select" href="#">Purchase Now</a>
              </footer>
            </li>
          </ul>
        </li>
        <li class="cd-popular">
          <ul class="cd-pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="cd-pricing-header">
                <h2>Popular</h2>
                <div class="cd-price">
                  <span class="cd-currency">$</span>
                  <span class="cd-value">40</span>
                  <span class="cd-duration">mo</span>
                </div>
              </header>
              <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                  <li>24/7 Tech Support</li>
                  <li>Advanced Option</li>
                  <li>20GB Storage</li>
                  <li>2GB Bandwidth</li>
                  <li>1GB Memory</li>
                  <li>20 Free Domain</li>
                </ul>
              </div>
              <footer class="cd-pricing-footer">
                <a class="cd-select cd-btn" href="#">Purchase Now</a>
              </footer>
            </li>
            <li data-type="yearly" class="is-hidden">
              <header class="cd-pricing-header">
                <h2>Popular</h2>
                <div class="cd-price">
                  <span class="cd-currency">$</span>
                  <span class="cd-value">400</span>
                  <span class="cd-duration">yr</span>
                </div>
              </header>
              <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                  <li>24/7 Tech Support</li>
                  <li>Advanced Option</li>
                  <li>200GB Storage</li>
                  <li>100GB Bandwidth</li>
                  <li>10GB Memory</li>
                  <li>100 Free Domain</li>
                </ul>
              </div>
              <footer class="cd-pricing-footer">
                <a class="cd-select cd-btn" href="#">Purchase Now</a>
              </footer>
            </li>
          </ul>
        </li>
        <li>
          <ul class="cd-pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="cd-pricing-header">
                <h2>Premier</h2>
                <div class="cd-price">
                  <span class="cd-currency">$</span>
                  <span class="cd-value">80</span>
                  <span class="cd-duration">mo</span>
                </div>
              </header>
              <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                  <li>24/7 Tech Support</li>
                  <li>Advanced Option</li>
                  <li>40GB Storage</li>
                  <li>5GB Bandwidth</li>
                  <li>5GB Memory</li>
                  <li>50 Free Domain</li>
                </ul>
              </div>
              <footer class="cd-pricing-footer">
                <a class="cd-select" href="#">Purchase Now</a>
              </footer>
            </li>
            <li data-type="yearly" class="is-hidden">
              <header class="cd-pricing-header">
                <h2>Premier</h2>
                <div class="cd-price">
                  <span class="cd-currency">$</span>
                  <span class="cd-value">600</span>
                  <span class="cd-duration">yr</span>
                </div>
              </header>
              <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                  <li>24/7 Tech Support</li>
                  <li>Advanced Option</li>
                  <li>500GB Storage</li>
                  <li>200GB Bandwidth</li>
                  <li>40GB Memory</li>
                  <li>300 Free Domain</li>
                </ul>
              </div>
              <footer class="cd-pricing-footer">
                <a class="cd-select" href="#">Purchase Now</a>
              </footer>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--price section end here-->
<div class="gray-cta">
  <div class="container text-center scroll-to">
    <h2>Awesome one page parallax</h2>
    <a href="#contact" class="btn btn-lg btn-dark-bg">Get it now</a>
  </div>
</div>
<!--gray cta-->
<section id="work" class="section-padding wow animated fadeIn" data-wow-delay=".1s">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2 class="center-title">Portfolio</h2>
          <span class="center-border-line"></span>
          <p class="sub-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in piece of classical Latin literature from 45 BC, it a old.</p>
        </div>
      </div>
    </div>
    <!--center title row end-->
  </div>
  <!--container-->
  <div class="container">
    <div id="filters-container" class="cbp-l-filters-dropdown">
      <div class="cbp-l-filters-dropdownWrap">
        <div class="cbp-l-filters-dropdownHeader">Sort Gallery</div>
        <div class="cbp-l-filters-dropdownList">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All (
            <div class="cbp-filter-counter"></div>
            items)
          </div>
          <div data-filter=".print" class="cbp-filter-item">
            Print (
            <div class="cbp-filter-counter"></div>
            items)
          </div>
          <div data-filter=".web-design" class="cbp-filter-item">
            Web Design (
            <div class="cbp-filter-counter"></div>
            items)
          </div>
          <div data-filter=".motion" class="cbp-filter-item">
            Motion (
            <div class="cbp-filter-counter"></div>
            items)
          </div>
        </div>
      </div>
    </div>
    <div id="grid-container" class="cbp">
      <div class="cbp-item print motion">
        <a href="assets/ajax/project1.html" class="cbp-caption cbp-singlePageInline"
          data-title="World Clock Widget<br>by Paul Flavius Nechita">
          <div class="cbp-caption-defaultWrap">
            <%= image_tag("work-1.jpg") %>
            <!-- <img src="assets/images/work-1.jpg" alt=""> -->
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">World Clock Widget</div>
                <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item web-design">
        <a href="assets/ajax/project2.html" class="cbp-caption cbp-singlePageInline"
          data-title="Bolt UI<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <%= image_tag("work-8.jpg") %>
            <!-- <img src="assets/images/work-8.jpg" alt=""> -->
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Bolt UI</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item print motion">
        <a href="assets/ajax/project3.html" class="cbp-caption cbp-singlePageInline"
          data-title="WhereTO App<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <%= image_tag("work-7.jpg") %>
            <!-- <img src="assets/images/work-7.jpg" alt=""> -->
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">WhereTO App</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item web-design print">
        <a href="assets/ajax/project4.html" class="cbp-caption cbp-singlePageInline"
          data-title="iDevices<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <%= image_tag("work-6.jpg") %>
            <!-- <img src="assets/images/work-6.jpg" alt=""> -->
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">iDevices</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item motion">
        <a href="assets/ajax/project5.html" class="cbp-caption cbp-singlePageInline"
          data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <%= image_tag("work-5.jpg") %>
            <!-- <img src="assets/images/work-5.jpg" alt=""> -->
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item print motion">
        <a href="assets/ajax/project6.html" class="cbp-caption cbp-singlePageInline"
          data-title="Remind~Me Widget<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <img src="assets/images/work-4.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Remind~Me Widget</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item web-design print">
        <a href="assets/ajax/project7.html" class="cbp-caption cbp-singlePageInline"
          data-title="Workout Buddy<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <img src="assets/images/work-3.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Workout Buddy</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item print">
        <a href="assets/ajax/project8.html" class="cbp-caption cbp-singlePageInline"
          data-title="Digital Menu<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="assets/images/work-2.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Digital Menu</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item motion">
        <a href="assets/ajax/project9.html" class="cbp-caption cbp-singlePageInline"
          data-title="Holiday Selector<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="assets/images/work-1.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Holiday Selector</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="loadMore-container" class="cbp-l-loadMore-button">
      <a href="assets/ajax/loadMore.html" class="cbp-l-loadMore-link">
      <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
      <span class="cbp-l-loadMore-loadingText">LOADING...</span>
      <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
      </a>
    </div>
  </div>
  <!--container-->
</section>
<!--portfolio section end here-->
<div class="call-to-action cta-1 parallax-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center wow animated fadeInDown" data-wow-delay=".1s">
        <h2>We are passionate about design</h2>
        <a href="index.html" class="btn btn-white btn-lg wow animated fadeInDown" data-wow-delay=".2s">
        <span> Purchase Bavely</span>
        </a> 
      </div>
    </div>
  </div>
</div>
<!--call to action-->
<div class="newsletter">
  <div class="container">
    <div class="text-center">
      <h2 class="center-title"> newsletter</h2>
      <span class="center-border-line"></span>
      <p class="sub-text">Subscribe to our weekly updates</p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <form role="form">
          <input type="email" placeholder="Enter your email" class="form-control" required="">
          <a href="#" class="btn btn-lg btn-block btn-dark-bg">Subscribe</a>
          <!--                            <button type="submit" class="btn btn-lg btn-block btn-dark-bg">Subscribe</button>-->
        </form>
      </div>
    </div>
  </div>
</div>
<!--newsletter end-->
<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="contact-form wow animated fadeInLeft" data-wow-delay=".2s">
          <h3>Feel free to contact us</h3>
          <hr class="fancy-hr">
          <form name="sentMessage" id="contactForm" method="post" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="row control-group">
                  <div class="form-group col-xs-12 controls">
                    <input type="text" class="form-control" placeholder="Enter your name" id="name" required data-validation-required-message="Enter your name">
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row control-group">
                  <div class="form-group col-xs-12 controls">
                    <input type="email" class="form-control" placeholder="Enter your email" id="email" required data-validation-required-message="Enter your email">
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 controls">
                <textarea rows="5" class="form-control" placeholder="Enter your message" id="message" required data-validation-required-message="Enter your message"></textarea>
                <p class="help-block"></p>
              </div>
            </div>
            <div id="success"></div>
            <div class="row">
              <div class="form-group col-xs-12 text-right">
                <button type="submit" class="btn btn-dark-bg btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </form>
          <!--form-->
        </div>
        <!--contact form-->
      </div>
      <!--col-7-->
      <div class="col-sm-5">
        <div class="contact-details wow animated fadeInLeft" data-wow-delay=".4s">
          <h3>Contact details</h3>
          <hr class="fancy-hr">
          <p>
            <strong>Address:</strong> 124, MD, Niwaru road, 302012
          </p>
          <p>
            <strong>Phone:</strong> +01 123-456-789
          </p>
          <p>
            <strong>Fax:</strong> +01 123-456-789
          </p>
          <p>
            <strong>Email:</strong> support@bavely.com
          </p>
          <div>
            <a href="#" class="btn btn-dark-border">View on Map</a>
          </div>
        </div>
        <!--contact details-->
      </div>
      <!--col-5-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--contact section end-->
<div class="numbers-cta">
  <div class="container">
    <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
      <i class="ion-android-call"></i>
      <h3>555-454-1234</h3>
    </div>
    <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
      <i class="ion-email"></i>
      <h3>Support@bavely.com</h3>
    </div>
    <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
      <i class="ion-location"></i>
      <h3>123, street munali, California, USA</h3>
    </div>
    <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
      <i class="ion-ios-printer"></i>
      <h3>555-454-1234</h3>
    </div>
  </div>
</div>
