<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trigmasoft-Send Msg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Trigmasoft-Send Msg</h2>
  <%= form_tag send_msg_path do %>
    <div class="form-group">
      <label for="email">Mobile No:</label>    
      <%= text_field_tag 'mobile_no', nil, :placeholder => "Enter mobile no.", class: "form-control" %>  
    </div>
    <div class="form-group">
      <label for="pwd">Msg Text:</label>
      <%= text_area_tag 'msg_text', nil, :placeholder => "Enter msg text", class: "form-control" %>
    </div>
        
    <button type="submit" class="btn btn-primary">Send</button>
  <% end %> 
</div>

</body>
</html>
