<footer class="footer">
  <div class="container text-center">
    <a href="#"><img src="assets/images/logo-dark.png" alt=""></a>
    <ul class="list-inline socials">
      <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
      <li><a href="#" class="twit"><i class="ion-social-twitter-outline"></i></a></li>
      <li><a href="#" class="g-plus"><i class="ion-social-googleplus-outline"></i></a></li>
      <li><a href="#" class="yout"><i class="ion-social-youtube-outline"></i></a></li>
      <li><a href="#" class="drib"><i class="ion-social-dribbble-outline"></i></a></li>
    </ul>
    <p>&copy; 2014. Made with <i class="ion-ios-heart-outline"></i> by Trigmasoft</p>
  </div>
</footer>