<div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-ix="show-navbar-on-load">
  <div class="w-container navbar-container">
    <a class="w-nav-brand logo-container" href="/">
      <h2 class="logo">Buneyard Compagnie</h2>
    </a>
    <nav class="w-nav-menu nav-link-container" role="navigation">
      <a class="w-nav-link nav-link" href="#Home">Home</a>
      <a class="w-nav-link nav-link" href="#About">About</a>
      <a class="w-nav-link nav-link" href="#Process">Our Process</a>
      <a class="w-nav-link nav-link" href="#Features">Features &amp; benefits</a>
      <a class="w-nav-link nav-link" href="#Offering">coffee offering</a>
      <!-- <a class="w-nav-link nav-link" href="#Register">register</a> -->
      <% if current_user %>
        <a class="w-nav-link nav-link" href="<%= "/user-profile-page/#{current_user.secret_token}" %>"><%= current_user.first_name %></a>
      <% else %>
        <a class="w-nav-link nav-link" href="/register">register</a>
      <% end %>  
    </nav>
    <div class="w-nav-button menu-button">
      <div class="w-icon-nav-menu menu-icon"></div>
    </div>
  </div>
</div>
<% if flash[:notice].present? %>
<%= js add_gritter(flash[:notice])  %>
<% end %>