<!DOCTYPE html>
<html>
<head>
  <title>Trigmasoft</title>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Montserrat:400,700', 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="80">
<%#= render 'layouts/header' %>
<%= yield %>
<%#= render 'layouts/footer' %>
</body>
</html>